/discovery/modules/
/discovery/.settings
/discovery/.ceylon/config~
/discovery/build/dependency-poms/
/discovery/build/maven-repository/
/discovery/build/module-descriptors/
/discovery/.gradle/
/gateway/modules/
/gateway/.settings
/gateway/.ceylon/config~
/gateway/build/dependency-poms/
/gateway/build/maven-repository/
/gateway/build/module-descriptors/
/gateway/.gradle/
/passenger/modules/
/passenger/.settings
/passenger/.ceylon/config~
/passenger/build/dependency-poms/
/passenger/build/maven-repository/
/passenger/build/module-descriptors/
/passenger/.gradle/
